<h2>Manager Product</h2>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Product Name</th>
			<th>Price</th>
			<th>Action</th>
		</tr>
		<!-- <tr *ngFor="let product of products;index as i"> -->
		<tr *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
			<th>{{product.id}}</th>
			<th><a routerLink="/product/{{product.id}}">{{product.name}}</a></th>
			<th>{{product.price}}</th>
			<th><button class="btn btn-primary" routerLink="/product/detail/{{product.id}}">Show detail</button><br>
				<button class="btn btn-danger" (click)="removeItem(product.id)">Remove</button></th>
		</tr>
	</thead>
</table>
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="products.length"></ngb-pagination>