<div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://dummyimage.com/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{product.name}}</a>
                </h4>
                <h5>${{product.price}}</h5>
                <p class="card-text">{{product.desc}}
                </p>
                <button class="btn btn-primary" (click)="showDetail(product)">Show detail</button><br>
                <button class="btn btn-primary" (click)="removeItem(product.id)">Remove</button>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> 
            </div>
        </div>
    </div>
</div>
<div *ngIf="selected">
    {{selected.name}}
</div>